.cantainer-main-menu-principal  {
  
  min-width: 100dvw;
  height: 30vh; /* Permite transitar suave de cima p/ baixo com as altura em conjutas */
  max-height: 0;
  padding: .5rem;
  background-color: var(--color-primary-cc);
  position: absolute;
  bottom:0;
  border-radius: 43% 43% 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* 
  transition: all ease-in-out 1ms; */
  transition: max-height 0.5s ease-in, opacity .3s ease;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 0 2px var(--color-secondary);
  z-index: 1;
}

.cantainer-main-menu-principal button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 1rem; /* bottom: 22px; */
  background-color: var(--color-button-dark);
  transition: max-height 0.5s ease-out, opacity .5s ease;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  
  margin-bottom: .55rem;
}

.cantainer-main-menu-principal button img {
  width: 60%;
  height: 50%; 
}

.open-menu {
  opacity: 1;
  min-height: 61dvh;
  max-height: 0;
  visibility: visible;
}

@media only screen and (min-width:190px) and (max-width:650px) {

  .cantainer-main-menu-principal{
    min-height: 30dvh;
    max-height: 0;
  }
  .cantainer-main-menu-principal button {
    width: 60px;
    height: 60px;
    margin-bottom: .62rem;
  }

  
}