.container-register {
  display: flex;
  flex-direction: row;
  height: 100dvh;  /* Altura total da tela */
  overflow-y: auto;  /* Permite rolar o conteúdo, se necessário */
  background-color: #CDD5DB;
  background-image: url('../../../assets/background/logo_bck_desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}


.main-all-register{
  /* font-family: 'Roboto', sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 4rem;
  display: flex;
  flex-flow: column ;
  height: 100dvh;
  /* background-color: #F2F2F2; */
}

.main-all-register nav {
  width: 99dvw;
  height: 80dvh;
  display: flex;
  flex-flow: row ;
  gap: .5rem;
  padding: .4rem;
  overflow-y: auto;
}

.nav-item-register{
  background-color: rgb(242, 242, 242,.8);
  color: rgb(7, 23, 57,.8);
  width: 20%;
  height: 10%;
  border-radius: 10px;
  display: flex;
  flex-flow: row;
  gap: 1em;
  padding: 5px 5px 5px 12px;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
}



/* .nav-item-register :hover {
  background-color: #4b6382;
  color: #f2f2f2;
  text-decoration: none;
} */

/* Responsividade */

@media only screen and (min-width:190px) and (max-width:650px){
  .container-register {
    background-size: 80%;
  }
  
  .main-all-register{
    flex-flow: column;
    width: 100dvw;
    min-width:95%;
    font-size: 1rem;

  }

  .main-all-register nav {
    flex-flow: column ;
  }

  .nav-item-register{
    min-width: 465px;
  }

}