.container-register {
  display: flex;
  flex-direction: row;
  max-width: 100dvw;
  height: 100dvh; 
  position: fixed; /* Altura total da tela */
 /*  overflow-y: auto;  */ /* Permite rolar o conteúdo, se necessário */
  background-color: #CDD5DB;
  background-image: url('../../../assets/background/logo_bck_desktop.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}


.main-all-register{
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  width: 98dvw;
  min-width: 100dvw;
  margin-top: 4rem;
  display: flex;
  flex-flow: column ;
  height: 100dvh;
  /* background-color: #F2F2F2; */
}

.main-all-register nav {
  
  height: 80dvh;
  min-height: 85%;
  display: flex;
  flex-flow: row ;
  gap: .5rem;
  padding: .4rem;
  overflow-y: scroll;
}

.nav-item-register{
  background-color: var(--color-white-nave-cc);
  color: var(--color-primary-cc);
  width: 20%;
  height: 10%;
  border-radius: 10px;
  display: flex;
  flex-flow: row;
  gap: 1em;
  padding: 5px 5px 5px 12px;
  justify-content: flex-start;
  text-align: center;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  transition: all  0.7s ease-in-out .5ms; 
}



.nav-item-register:hover {
  color: var(--color-gelo-white);
  background-color: var(--color-primary);
}

/* Responsividade */

@media only screen and (min-width:190px) and (max-width:650px){
  .container-register {
    background-size: 80%;
  }
  
  .main-all-register{
    flex-flow: column;
    max-width: 100%;
    font-size: 1rem;

  }

  .main-all-register nav {
    flex-flow: column ;
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
    
  }

  .nav-item-register{
    min-width: 100%;
  }

}