.menu-bottom {
  position: fixed;
  bottom: 0;
  width: 100dvw;
  height: 10%;
  display: flex;
  flex-flow: row;
  background-color: #071739;
}

.menu-bottom-div {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

.menu-bottom-ul{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 99%;
  align-items: center;
  justify-content: space-between; 
  color: #fff;
}

.plus-circle-fill {
  position: absolute;
  margin: -2% auto 0 28.5rem;
  z-index: 1;
}


@media only screen and (min-width: 768px) and (max-width: 1440px) {
 
}


@media only screen and (min-width: 190px) and (max-width: 768px){  
 
  .menu-bottom{
    
  }

  .menu-bottom-ul-span{
    font-size: .7em;
    color: #f2f2f2;
  }

  .menu-bottom-ul{
    margin-right: 25px;
    width: 100%;
  }

  .plus-circle-fill {
    margin: -10% auto 0 3.5rem;
    z-index: 1;
  }

  .plus-circle-fill img { width: 75px;}
  

}