.sidebar-business {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 20%;
  display: flex;
  font-size: smaller;
  color: #071739;
  justify-content: space-between;
  cursor: pointer;
}

.underline { text-decoration: underline; font-weight: 700;}

@media only screen and (min-width:190px) and (max-width:650px){
  .sidebar-business {
    width: 230px;
    font-size: smaller;
  }

}