/* container de vendas realizadas pendentes etc.. */
.sales{
  display: flex;
  flex-flow: column nowrap;
  width: 22dvw;
  height: auto;
  padding: .5rem;
  min-height: 23dvh;
  border-radius: 10px;
  background-color: var( --color-gelo-white);
  box-shadow: 0 0 5px var(--color-secondary); 
}

.container-status {
  display:flex; 
  justify-content:space-between; 
}

@media only screen and (min-width:190px) and (max-width:650px) {
 
  .sales{
    width: 88dvw;
    height: auto;
    min-height: 170px;
  }
}

