/* Estilos gerais */
.section {
  width: 33%;
  max-width: 500px;
  height: auto;
  padding: 15px;
  background: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 2px rgb(75, 99, 130,.6);
}

.section h2 {
  color: rgb(74, 99, 130,.8);
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #071739;
  padding-bottom: 3px;
}

.indicator {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
  margin: 10px 0;
}

.indicador-span {
  color: rgb(0, 0, 0,.6);
}

/* Responsividade */

@media only screen and (min-width:190px) and (max-width:650px){
  .section {
    min-width:95%;
  }

  .section h2 {
    font-size: 1em;
  }
  .indicator {
    
    font-size: 1rem;
  }

  .indicador-span {
    color: #071739;
  }
}