.search-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding: .3em;
  border-radius: 25px;
 /*  background-color: var(--color-secondary); */
 
 background-color: #fff;
}
.dad-search-container { 
  padding: 1rem;
  width: 100%; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.dad-search-container img {cursor: pointer; border-radius: 50%;}

.search-container input {
  min-width: 95% ;
  padding-left: 5px;
  height: auto;
  border-radius: 25px;
/*   background-color: var(--color-secondary); */
background-color: #fff;
  z-index: 0;
}

.search-container input:focus {
  outline: none;  
}

.search-container img { width: 25px; height: auto; padding-right: .3rem; }


@media only screen and (min-width: 190px) and (max-width:650px){
  .search-container{
    width: 85%;
  }

  .search-container input {
    min-width: 70%;

  }


}
