*{
  margin: 0;
}

@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    width: 100%;
    height: 100vh;
    background-color: #071739;
    background-image: url('../src/assets/design/background-desktop.png');
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */ height: 100vh; /* Altura total da janela de visualização */
  }

  .login-container, .login-form {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
  }
  .login-container { 
    
    width: 90%;
    min-height: 400px;
    max-width: 450px;
    margin-left: 57.3%;
    padding: 40px;
    background-color: rgb(205, 213, 219,.3);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(75, 99, 130);
    text-align: center;
    box-sizing: border-box;

  }

  .login-form{
    height: 75%;
  }

  .login-form input {
    margin-bottom: 15px;
    padding: 12px;
    font-size: 18px;
    border: none;
    background-color: rgb(227, 195, 157,.3);
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }

  .login-form input::placeholder{
    color: #cdd5db;
  }
  .login-container {
    color: #cdd5db;
    width: 90%;
    background-color: rgb(205, 213, 219,.5);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(75, 99, 130);
    text-align: center;
    box-sizing: border-box;
  }

  .login-container h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #fff;
  }

  .login-form button {
    padding: 5px;
    font-size: 32px;
    background-color: #4B6382; /* Cor do botão em harmonia com E&WDoces */
    color: white;
    border: 2px solid #E3C39D;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
  }

  .login-footer {
    display: flex;
    justify-content: space-between;
    color: #cdd5db;
    font-size: x-small;
    width: 95%;
    max-width: 400px;
  }
}


/* Responsividade para smartphones */
@media only screen and (min-width: 190px) and (max-width: 650px) {
  *{
    margin: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    width: 100dvw;
    height: 100dvh;
    background-color: #071739;
    background-image: url('../src/assets/design/background-mobile.png');
    background-size: cover; /* A imagem cobre toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita a repetição da imagem */ height: 100vh; /* Altura total da janela de visualização */
  }
  /* Estilo para o container de login */
.login-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgb(205, 213, 219,.8);
  border-radius: 8px;
  box-shadow: 0 2px 10px rgb(75, 99, 130);
  text-align: center;
  box-sizing: border-box;
  
}

/* Estilo para o título */
.login-container h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color: #fff;
}

/* Estilo para o formulário */
.login-form {
  display: flex;
  flex-direction: column;
}


.login-footer {
  width: 95%;
  flex-shrink: 1;
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
  color: #4b6382;
  font-size: xx-small;
}

.login-footer a{
  margin: 0 auto;
}

/* Estilo para os inputs */
.login-form input {
  margin-bottom: 15px;
  padding: 12px;
  font-size: 18px;
  border: none;
  background-color: rgb(227, 195, 157,.4);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
.login-form input::placeholder{
  color: #fff;
}

/* Estilo para o botão */
.login-form button {
  padding: 12px;
  font-size: 32px;
  background-color: #4B6382; /* Cor do botão em harmonia com E&WDoces */
  color: white;
  border: 2px solid #E3C39D;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.login-form button:hover {
  background-color: #4B6382; /* Cor ao passar o mouse */

}

.login-form input,
.login-form button {
    font-size: 14px; /* Ajusta o tamanho da fonte dos inputs e botões */
    padding: 10px; /* Padding menor em telas pequenas */
  }

  .login-container {
    padding: 20px; /* Reduz o padding em telas menores */
  }

  .login-container h2 {
    font-size: 20px; /* Tamanho do título ajustado para smartphones */
  }
  
}


