header{
  box-shadow: 2px 5px 10px rgb(0,0,0,.5);
}

img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 3px solid #fda282;
  
}

h1 {
  font-size: smaller;
  margin: 0 auto;
}


@media only screen and (min-width: 768px) and (max-width: 1440px) {
  header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    min-width: 100dvw;
    min-height: 10dvh;
    background-color: #cdd5db;
    position: fixed;
  }
}
  
@media only screen and (min-width: 190px) and (max-width: 650px) {
  header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    min-width: 100dvw;
    min-height: 30px;
    background-color: #cdd5db;
    position: fixed;
    top: 0;
  }
}