
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    min-width: 100dvw;
    min-height: 10dvh;
    background-color: #cdd5db;
    position: fixed;
  }
}
  
@media only screen and (min-width: 190px) and (max-width: 650px) {

  .img{
    right: 0;
    margin-right: 5px;
    /* opacity: 0; */
  }  

 
}